.card-container {
    
}

.card-container .card-container-body {
    flex: 1 1 auto;
    padding-top:1.15rem;
    padding-bottom:1.15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    width:100%;
    z-index: 10;
}

.card-container .card-container-arrow {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 5;
}
   .card-container  {
    --bs-border-color-rgb: var(--bs-body-color-rgb);
    position: relative;
    border: none;
}
   .card-container {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-bg: transparent;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* height: var(--bs-card-height); */
    color: #FFFFFF;
    word-wrap: break-word;
    /* background-color: transparent; */
    background-clip: border-box;
    border: none;
    /* border: var(--bs-card-border-width) solid white; */
    border-radius: var(--bs-card-border-radius);
}


*, ::after, ::before {
    box-sizing: border-box;
}

 .card-container .card-container-arrow-bottom-left,  
 .card-container .card-container-arrow-top-left {
    inset-inline-start: 0;
}
 .card-container .card-container-arrow-bottom-left, 
.card-container .card-container-arrow-bottom-right {
    bottom: 0;
}

 .card-container .card-container-arrow-bottom-right:after, 
.card-container .card-container-arrow-bottom-right:before, 
.card-container .card-container-arrow-top-right:after, 
.card-container .card-container-arrow-top-right:before {
    inset-inline-end: 0;
}


.card-container .card-container-arrow-bottom-left:after, 
.card-container .card-container-arrow-bottom-right:after {
    bottom: 0;
}

 .card-container .card-container-arrow-bottom-right,  
 .card-container .card-container-arrow-top-right {
    inset-inline-end: 0;
}
 .card-container .card-container-arrow-bottom-left,  
 .card-container .card-container-arrow-bottom-right {
    bottom: 0;
}
 .card-container .card-container-arrow-bottom-left,  
 .card-container .card-container-arrow-bottom-right,  
 .card-container .card-container-arrow-top-left,  
 .card-container .card-container-arrow-top-right {
    width: 10px;
    height: 10px;
    position: absolute;
}
    
.card-container .card-container-arrow-top-left:after, 
.card-container .card-container-arrow-top-right:after {
    top: 0;
}

.card-container .card-container-arrow-top-left:before, 
.card-container .card-container-arrow-top-right:before {
    top: 2px;
}

.card-container .card-container-arrow-bottom-left:before, 
.card-container .card-container-arrow-bottom-right:before, 
.card-container .card-container-arrow-top-left:before, 
.card-container .card-container-arrow-top-right:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: rgba(255,255,255, .75);
}

.card-container .card-container-arrow-bottom-left:after, 
.card-container .card-container-arrow-bottom-right:after, 
.card-container .card-container-arrow-top-left:after, 
.card-container .card-container-arrow-top-right:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: rgba(255,255,255, .75);
}

.card-container:after, 
.card-container:before {
    content: "";
    position: absolute;
}

.card-container:not(.border-0):before {
    inset-inline-start: 15px;
    inset-inline-end: 15px;
    top: 0;
    bottom: 0;
    border-top: 1px solid rgba(255,255,255, .3);
    border-bottom: 1px solid rgba(255,255,255, .3);
}

.card-container:not(.border-0):after {
    top: 15px;
    bottom: 15px;
    inset-inline-start: 0;
    inset-inline-end: 0;
    border-inline-start: 1px solid rgba(255,255,255, .3);
    border-inline-end: 1px solid rgba(255,255,255, .3);
}
